# Node.js specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Dependency directories
/.pnp
.pnp.js

# Build outputs
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Testing files
coverage/
.nyc_output/

# Lint cache
.eslintcache

# MongoDB specific
*.lock
dump/

# React specific
public/static/
public/assets/
*.cache
*.chunk.js

# Miscellaneous
*.bak
*.tmp
*.seed
*.pid

# Optional npm cache
.npm/

# Ignore any custom debug configurations
*.debug
*.debug.js
